<nav class="navbar fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/../assets/images/paw-logo.png" width="50" height="50" class="d-inline-block align-top" alt="" style="margin-right: 10px;">
  Dynamo Dog Walking
  </a>
</nav>

<div class="container-fluid p-0" style="padding-top:75px !important;">
  <div class="jumbotron jumbotron-fluid text-left">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-1 col-sm-4 offset-sm-0 col-6 offset-0"><h3>GPS tracked dog walks in Cambridgeshire</h3></div>
      </div>
      <div class="row" style="padding-top:10px !important;">
        <div class="col-md-4 offset-md-1 col-7"><button type="button" class="btn btn-primary" (click)="openModal(template)">Book a meet and greet</button></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="mx-auto">What we do</h2>
  </div>
  <div class="row">
    <fa-icon [icon]="faBone" size="2x" class="mx-auto"></fa-icon>
  </div>

  <div class="row">
    <div class="col-md-4 col-12" style="padding-top:20px !important;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><fa-icon [icon]="faPaw" size="lg"></fa-icon> Dog walking<small class="float-right py-1">£8, 30mins</small></h5>
          <p class="card-text">This is the perfect choice for dogs who aren't a fan of other dogs or just prefer to be walked alone. This is half an hours walk which can be tracked and timed, messages as we set off/return and  a quick wash so your pet returns home looking and smelling as fresh as when they set off.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12" style="padding-top:20px !important;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><fa-icon [icon]="faDog" size="lg"></fa-icon> Drop-in visits<small class="float-right py-1">£8, 30mins</small></h5>
          <p class="card-text">This visit can include various things from playing with the young energetic dogs, to a snooze and a stroke for the more relaxed dogs. I can also feed and administer medicine and I am happy to brush your dogs to help with any matting and messy hair.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12" style="padding-top:20px !important;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><fa-icon [icon]="faPaw" size="xl" style="padding-right:3px;"></fa-icon><fa-icon [icon]="faPaw" size="xl"></fa-icon> Group dog walks<small class="float-right py-1">£12, 1hr</small></h5>
          <p class="card-text">This walk is perfect for high energy dogs. This walk will be in a park or a safe place and dogs will be allowed off the lead (with permission) to have a good run. This walk will also include a quick wash at the end to make sure your dog returns looking and smelling as good as when they left.</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container" style="padding-top:20px !important;">
  <div class="row">
    <h2 class="mx-auto">Watch a walk</h2>
  </div>
  <div class="row">
    <fa-icon [icon]="faBone" size="2x" class="mx-auto"></fa-icon>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2 col-12" style="padding-top:20px !important;">
      <div class="card">
        <div class="card-body">
          <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5ZEahbN10hw" allowfullscreen></iframe>
          </div>
          <div class="card-body">
          <p class="card-text">Safety is key for me so every walk is GPS tracked, and you get a text when leave and when we get back home. Whether your dog can go off lead or not, they'll get a full walk and play. Finally, every dog gets a quick wash so they return home smelling fresh!

          <br><br><small>I'm DBS checked and available for walks in Wimblington, Chatteris, Doddington, March and wider Cambridgeshire.</small></p>
        </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container" style="padding-top:20px !important;">
  <div class="row">
    <h2 class="mx-auto">Meet my dog, Coco</h2>
  </div>
  <div class="row">
    <fa-icon [icon]="faBone" size="2x" class="mx-auto"></fa-icon>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2 col-12" style="padding-top:20px !important;">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="/../assets/images/coco.jpg" alt="Card image cap">
          <p class="card-text">Let me introduce you to Coco!<br><br>She's a 10 year old rescue Rottweiler that's a bit nervous of everything! We've had her around 6/7 months now in that time we've had to remove a toe so she now has an alien foot!<br><br>If you ever see us out on a walk she'll definitely bark but please do say hello! She'll be wearing a muzzle just in case but she really just wants a stroke!<br><br>Unfortunately she wasn't socialized when she was younger so she's very barky at everyone and everything that moves but if the barking doesn't scare you she'll happily accept your cuddles!</p>
          </div>
        </div>
      </div>
    </div>
</div>

<footer class="text-muted" style="padding-top:25px !important;">
  <div class="container">
    <p class="float-right">
      <a href="#"><fa-icon [icon]="faAngleDoubleUp" pull="left"></fa-icon> Back to top</a>
      <br><br><a href="mailto:sam@dynamodogwalking.com"><fa-icon [icon]="faPaperPlane" pull="left"></fa-icon> E-mail me</a>
    </p>
    <p>© Dynamo Dog Walking, 2021
    <br>Sam March, Ash Tree Close
    <br>March, Cambridgeshire, UK</p>
  </div>
</footer>

<!-- Modal -->
<ng-template #template>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Book a meet and greet</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">×</span>
      </button>
   </div>
   <div class="modal-body">
      <app-contact-form></app-contact-form>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Close</button>
   </div>
</ng-template>