<nav class="navbar fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/../assets/images/paw-logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
    Dynamo Dog Walking
  </a>
  <span class="navbar-text center">
    <a href="https://www.facebook.com/DynamoDogWalking/" target="_blank">
      <i-bs name="facebook" width="2rem" height="2rem"></i-bs>
    </a>
  </span>
</nav>

<div class="container-fluid p-0" style="padding-top:75px !important;">
  <div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Friendly, Experienced Dog Walking</h1>
    <p class="lead">GPS trackable dog walks in March, Cambridgeshire</p>
    <button type="button" class="btn btn-primary">Book your first walk</button>
  </div>
</div>
</div>

<img src="/../assets/images/header.jpg">
