body {
	background-color: #eaf8fb;
}

.navbar {
	background-color: #73e8ff;
}

@media screen and (min-width: 577px) {
  .navbar a {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 576px) {
  .navbar a {
    font-size: 1.2rem;

  }
}

.navbar a {
	color: #69921f;
	font-family: 'Rock Salt', cursive;
    align-items: center;
    display: flex; 
}

.jumbotron {
    background-image: url('/../assets/images/header.jpg');
    background-size: cover;
    color: #000;
    padding-top: 20%;
    padding-bottom: 20%;
}

.btn-primary {
	background-color: #8bc34a;
	border-color: #8bc34a;
	color: black;
}

.modal-title {
	color: #69921f;
	font-family: 'Rock Salt', cursive;
}